@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Mật khẩu đã thay đổi thành công";
}

<h1>@ViewData["Title"]</h1>
<p>
    Mật khẩu đã thay đổi thành công. Vui lòng nhán vào <a asp-page="./Login">đây</a> để đăng nhập.
</p>
